html{
    background-color: hsl(217, 54%, 11%);
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main{
    background-color: hsl(216, 50%, 16%);
    width: 350px;
    height: 596px;
    border-radius: 15px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 302px;
    height: 302px;
    border-radius: 8px;
    padding-top: 1.5rem;
}

.item h1{
    font-family: "Outfit";
    font-size: 1.375rem;
    font-weight: 600;
    color: white;
    padding-left: 1.5rem;
}

.item p{
    font-family: "Outfit";
    font-size: 1.1rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    padding-left: 1.5rem;
}

.itemextra{
    display: flex;
    justify-content: space-between;
}

.price{
    display: flex;
    align-items: center;
}

.price img{
    width: 11px;
    height: 18px;
    padding-left: 1.5rem;
    padding-right: .405rem;
}

.price h2{
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

.timeleft{
    display: flex;
    align-items: center;
}

.timeleft img{
    width: 16px;
    height: 16px;
    padding-right: .5rem;
}

.timeleft p{
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(215, 51%, 70%);
    padding-right: 1.5rem;
}

hr{
    width: 302px;
    color: hsl(215, 32%, 27%);
}

.createdby{
    display: flex;
    align-items: center;
}

.createdby img{
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 100px;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.createdby p{
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 400;
    color: hsl(215, 51%, 70%);
    padding-right: 5px;
}

#authorname{
    color: white;
}

